*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"HankenGrotesk", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.card{
    box-shadow:rgba(0,0,0,.24) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
}
.card-container{
    display: flex;
    justify-content:space-between;

}
.result{
    width: 50%;
    padding: 1.5rem 2rem;
    background-color: darkorchid;
    border-radius: 2rem;
    text-align:center;
    display: flex;
    background: linear-gradient(to bottom,#736aff, #3a2efe);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.result .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkblue;
    background: linear-gradient(to bottom,#8a2be2, #1c39bb);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result .title{
    color: #DFC5FE;
    margin-bottom: 1rem;
}
.circle h1{
    font-size: 4rem;
    color: white;
}
.result b{
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}
.circle p{
    color: #a6a6f9;
}
.result .info{
    color:#DFC5FE;
    width:200px;
}
.summary{
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.summary .title{
    font-weight: 800;
    color: black;
    margin-bottom: 1rem;
    
}
.rows{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
}
.row:nth-child(1){
    background-color: hsla(0, 100%, 67%, .2);
}
.row:nth-child(1) .badge b{
    color: #FF474C;
}
.row:nth-child(2){
    background-color: hsla(39, 100%, 56%, .2);
}
.row:nth-child(2) .badge b{
    color: #FBB124;
}
.row:nth-child(3){
    background-color: hsla(166, 100%, 37%, .2);
}
.row:nth-child(3) .badge b{
    color: #21ADA8;
}
.row:nth-child(4){
    background-color: hsla(234, 85%, 45%, .2);
}
.row:nth-child(4) .badge b{
    color: #6666FF ;
}
.badge{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.row p{
    color: grey;
}
.row p b{
    color: #647187;
}
.btn{
    padding: 1rem;
    border-radius: 2rem;
    margin-top: auto;
    border: none;
    background: #647187;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}
.btn:hover{
    background: linear-gradient(to bottom,#736aff, #3a2efe);
}
@media screen and (max-width: 650px){
    body{
        align-items: flex-start;
        background-color: white;
    }
    .card{
        box-shadow: none;
    }
    .card-container{
        flex-direction: column;
    }
    .result{
        width: 100%;
        border-radius: 0 0 1rem 1rem;
    }
    .result .info{
        width: 250px;
    }
    .summary{
        width: 100%;
    }
}